body{
    background-color: #333;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    line-height: 2em;
}
#tartalom{
    width: 80%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 10px black dashed;
    padding: 10px;
    font-stretch: ultra-expanded;
}
nav,a{
    text-decoration: none;
    color: red;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: larger;
    text-shadow: 1px 2px 3px red;

}
h1{
    color: #FDE55F;
    font-variant: small-caps;
    text-align: center;
    font-size: 3em;
    border-bottom-style: double;
    border-bottom-width: 5px;
    border-bottom-color: #FDE55F;
    padding: 10px;
}
.kep>.gif{
    margin-right: auto;
    margin-left: auto;
    border:2px black;
    box-shadow: 2px 2px 2px red;
    position: relative;
}
#video{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 350px;
    
    
}
